TYLER_USER_PASSWORD=
TYLER_USER_EMAIL=
TYLER_ENDPOINT=https://illinois-stage.tylerhost.net/
TOGA_URL=
TOGA_CLIENT_KEY=
PATH_TO_KEYSTORE=MyOrg.pfx
X509_PASSWORD=

POSTGRES_USER=postgres
POSTGRES_PASSWORD=mysecretpassword
POSTGRES_URL=db
POSTGRES_PORT=5432
POSTGRES_CODES_DB=tyler_efm_codes
POSTGRES_USER_DB=user_transactions
CURRENT_URL=https://efile.suffolklitlab.org:9000
JEFFERSON_ENDPOINT=https://example.com
CERT_PASSWORD=
JEFFERSON_KEY=
SENDGRID_API_KEY=SG.123.456
BASE_LOCAL_URL=https://0.0.0.0:9000

EMAIL_METHOD=sendgrid # or stmp
SMTP_SERVER=
SMTP_PORT=    # 587 for TLS, 465 for SSL, 24 without
SMTP_ENABLE_AUTH=  # lowercase true or false
SMTP_USER=
SMTP_PASSWORD
