# Password for the HTTPS certificate. NOT the same as Tyler's X509_PASSWORD
CERT_PASSWORD=
# If true, will try to use lets encrypt to get a certificate
USE_LETSENCRYPT=True
# The URL that the external clients see when talking to the proxy server
EXTERNAL_DOMAIN=efile.example.com
TZ=America/New_York

##### Postgres / database environment variables #####
POSTGRES_USER=postgres
# On the first start of the postgres container, this will be the password.
# After docker volume is created, the postgres container password won't be changed!
POSTGRES_PASSWORD=mysecretpassword
# This is the URL that the proxy server will try to use to connect to the database.
# If you don't change `docker-compose` at all, then this should stay the same
POSTGRES_URL=db
POSTGRES_PORT=5432
POSTGRES_CODES_DB=tyler_efm_codes
POSTGRES_USER_DB=user_transactions

##### Email sending related environment variables #####
EMAIL_METHOD=sendgrid # or stmp
# See https://docs.sendgrid.com/ui/account-and-settings/api-keys
SENDGRID_API_KEY=SG.123.456
SMTP_SERVER=
# 587 for TLS, 465 for SSL, 24 without
SMTP_PORT=    
# lowercase true or false
SMTP_ENABLE_AUTH=  
SMTP_USER=
SMTP_PASSWORD=

##### Tyler related environment variables #####
# Tyler controls several configs through "codes", that you need to download
# every night between 2 and 3. To get the up-to-date links to download the codes
# you need to provide an admin login for Tyler's EFM
TYLER_USER_EMAIL=
TYLER_USER_PASSWORD=
# The jurisdictions of this Tyler EFM, separated by spaces
TYLER_JURISDICTIONS=illinois
TYLER_ENV=stage
# Tyler has a way to pay for your filing with a credit card using their own portal,
# this is that URL and the Key that is used
TOGA_URL=
TOGA_CLIENT_KEY=
# Tyler requires all SOAP messages to be signed with an X.509 certificate they provide,
# these variables are the path to that cert and it's password
PATH_TO_KEYSTORE=MyOrg.pfx
X509_PASSWORD=

##### JeffNet related environment variables #####
# The URL given by JeffNet to send filings
JEFFERSON_ENDPOINT=https://example.com
# The API Key that is sent with every request to the above URL.
# NOTE: this ONLY needs to be in the Docassemble server.
JEFFERSON_KEY=
