<configuration scan="true" scanPeriod="30 seconds">

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%X{serverId}] [%X{userId}] [%X{operation}] [%thread] %-5level %logger{50} - %msg%n</pattern>
    </encoder>
  </appender>
  <appender name="PerServer" class="edu.suffolk.litlab.efspserver.services.ServerSpecificAppender">
    <encoder>
      <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%X{serverId}] [%X{userId}] [%X{operation}] [%thread] %-5level %logger{50} - %msg%n</Pattern>
    </encoder>
  </appender>

  <logger name="org.ehcache.core.EhcacheManager" level="ERROR"/>
  <logger name="org.apache.cxf.wsdl.service.factory" level="WARN"/>
  <!--logger name="org.eclipse.jetty" level="DEBUG"/-->

  <root level="info">
    <appender-ref ref="STDOUT" />
    <appender-ref ref="PerServer"/>
  </root>
</configuration>
