<configuration scan="true" scanPeriod="30 seconds">

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [server=%X{serverId}] [user=%X{userId}] [session=%X{sessionId}] [corr=%X{correlationId}] [req=%X{requestId}] [op=%X{operation}] %-5level %logger{40} - %msg %rEx%n</pattern>
    </encoder>
  </appender>
  <appender name="PerServer" class="edu.suffolk.litlab.efsp.server.logging.ServerSpecificAppender">
    <encoder>
      <Pattern>| %d{yyyy-MM-dd HH:mm:ss.SSS} | %X{serverId} | %X{userId} | %X{sessionId} | %X{correlationId} | %X{requestId} | %X{operation} | %thread | %-5level | %logger{40} |- %msg | %rEx |%n</Pattern>
    </encoder>
  </appender>
  <if condition='isDefined("PAPERTRAIL_HOST")'>
    <then>
      <appender name="SYSLOG-TLS" class="com.papertrailapp.logback.Syslog4jAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
          <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [server=%X{serverId}] [user=%X{userId}] [session=%X{sessionId}] [corr=%X{correlationId}] [req=%X{requestId}] [op=%X{operation}] %-5level %logger{35}: %m%n%rEx</pattern>
        </layout>

        <syslogConfig class="org.productivity.java.syslog4j.impl.net.tcp.ssl.SSLTCPNetSyslogConfig">
          <!-- remote system to log to -->
          <host>${PAPERTRAIL_HOST}</host>
          <!-- remote port to log to -->
          <port>${PAPERTRAIL_PORT}</port>
          <!-- program name to log as -->
          <ident>${PAPERTRAIL_APP_NAME}</ident>
          <!-- max log message length in bytes -->
          <maxMessageLength>128000</maxMessageLength>
        </syslogConfig>
      </appender>
      <root level="info">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="PerServer"/>
        <appender-ref ref="SYSLOG-TLS" />
      </root>
    </then>
  </if>

  <logger name="org.ehcache.core.EhcacheManager" level="ERROR"/>
  <logger name="org.apache.cxf.wsdl.service.factory" level="WARN"/>
  <!-- Ignoring "WARN  org.eclipse.jetty.server.handler.ContextHandler - Unimplemented getRequestCharacterEncoding() - use org.eclipse.jetty.servlet.ServletContextHandler" -->
  <logger name="org.eclipse.jetty.server.handler.ContextHandler" level="ERROR"/>
  <!--logger name="org.eclipse.jetty" level="DEBUG"/-->
  <!--logger name="edu.suffolk.litlab.efsp" level="TRACE"/-->

  <root level="info">
    <appender-ref ref="STDOUT" />
    <appender-ref ref="PerServer"/>
  </root>
</configuration>
