<configuration scan="true" scanPeriod="30 seconds">

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [server=%X{serverId}] [user=%X{userId}] [session=%X{sessionId}] [corr=%X{correlationId}] [req=%X{requestId}] [op=%X{operation}] %-5level %logger{40} - %msg %rEx%n</pattern>
    </encoder>
  </appender>
  <logger name="org.ehcache.core.EhcacheManager" level="ERROR"/>
  <logger name="org.apache.cxf.wsdl.service.factory" level="WARN"/>
  <!-- Ignoring "WARN  org.eclipse.jetty.server.handler.ContextHandler - Unimplemented getRequestCharacterEncoding() - use org.eclipse.jetty.servlet.ServletContextHandler" -->
  <logger name="org.eclipse.jetty.server.handler.ContextHandler" level="ERROR"/>
  <!--logger name="org.eclipse.jetty" level="DEBUG"/-->

  <root level="info">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
